/* Utilities */

.grid-margin {
  margin-bottom: $grid-gutter-width;
}

.grid-margin-sm-0 {
  @media (min-width: 576px) {
    margin-bottom: 0;
  }
}

.grid-margin-md-0 {
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.grid-margin-lg-0 {
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.grid-margin-xl-0 {
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.img-lg {
  width: 92px;
  height: 92px;
}

.img-md {
  width: 60px;
  height: 60px;
}

.img-sm {
  width: 43px;
  height: 43px;
}

.img-xs {
  width: 120px;
  height: 120px;
}

.img-xss {
  width: 37px;
  height: 37px;
}

.img-ss {
  width: 26px;
  height: 26px;
}

.stretch-card {
  @include display-flex;
  @include align-items(stretch);
  @include justify-content(stretch);
  >.card {
    width: 100%;
    min-width: 100%;
  }
}

.border-right-sm {
  @media (min-width: 576px) {
    border-right: $border-width solid $border-color;
  }
}

.border-right-md {
  @media (min-width: 768px) {
    border-right: $border-width solid $border-color;
  }
}

.border-right-lg {
  @media (min-width: 992px) {
    border-right: $border-width solid $border-color;
  }
}

.border-left-sm {
  @media (min-width: 576px) {
    border-left: $border-width solid $border-color;
  }
}

.border-strong {
  border-color: darken($border-color, 80%);
}

.count-wrapper {
  position: relative;
  .count {
    position: absolute;
    width: auto;
    min-width: 8px;
    min-height: 8px;
    padding: 2px 4px;
    font-size: 75%;
    line-height: 1;
    vertical-align: middle;
    @include border-radius(100%);
    color: $white;
    font-weight: 500;
    &.top-right {
      top: -5px;
      right: 0;
    }
    &.bottom-right {
      bottom: -5px;
      right: 0;
    }
    &.bottom-left {
      bottom: -5px;
      left: 0;
    }
    &.top-left {
      top: -5px;
      left: 0;
    }
  }
}

.border-left-md {
  @media (min-width: 768px) {
    border-left: $border-width solid $border-color;
  }
}

.border-left-lg {
  @media (min-width: 992px) {
    border-left: $border-width solid $border-color;
  }
}

.text-gray {
  color: #969696;
}

.text-black {
  color: $black;
}

.flex-grow {
  flex-grow: 1;
}

.ellipsis {
  max-width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
}

.status-indicator {
  border-width: 2px;
  border-style: solid;
  border-color: theme-color(warning);
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  width: 8px;
  &.online {
    border-color: theme-color(success);
  }
  &.offline {
    border-color: theme-color(primary);
  }
  &.away {
    border-color: theme-color(warning);
  }
}

.bg-transparent {
  background: transparent;
}

@each $color,
$value in $theme-colors {
  .bg-inverse-#{$color} {
    @include bg-inverse-variant($value);
  }
}